

@{
    ViewData["Title"] = "Index";
}

@model IEnumerable<BusinessObjectLayer.Models.TimeEntry>


<div class="row">
    <div class="col-12">
        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th> Entry ID </th>
                    <th> Date </th>
                    <th>  In Time </th>
                    <th> Out Time  </th>
                    <th> Breaks </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var entry in Model)
                {
                    <tr>
                        <td> @entry.Id  </td>
                        <td> @entry.Date </td>
                        <td> @entry.InTime </td>
                        <td> @entry.OutTime </td>
                        <td>                           
                            @foreach (var b in @entry.Breaks)
                            {
                                @b.BreakIn.ToString()
                                @b.BreakOut.ToString()
                            }
                        </td>
                       
                        @*<td>
                            <a asp-action="Update" asp-route-id="@emp.Id" class="btn btn-primary"> Update </a>
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@emp.Id" class="btn btn-primary" onclick="return confirm('Are you sure to delete the customer')"> Delete </a>
                        </td>*@
                    </tr>
                }
            </tbody>
        </table>


    </div>
</div>











<a class="btn" asp-controller="TimeEntry" asp-action="CreateEntry"> Create New Entry </a>







